In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [95]:
data = pd.read_csv("shootings.csv")
dat_o = pd.read_csv("shootings.csv")

In [96]:
data.head(10)

,id,name,date,manner_of_death,armed,age,gender,race,city,state,signs_of_mental_illness,threat_level,flee,body_camera,arms_category
0,3,Tim Elliot,2015-01-02,shot,gun,53.0,M,Asian,Shelton,WA,True,attack,Not fleeing,False,Guns
1,4,Lewis Lee Lembke,2015-01-02,shot,gun,47.0,M,White,Aloha,OR,False,attack,Not fleeing,False,Guns
2,5,John Paul Quintero,2015-01-03,shot and Tasered,unarmed,23.0,M,Hispanic,Wichita,KS,False,other,Not fleeing,False,Unarmed
3,8,Matthew Hoffman,2015-01-04,shot,toy weapon,32.0,M,White,San Francisco,CA,True,attack,Not fleeing,False,Other unusual objects
4,9,Michael Rodriguez,2015-01-04,shot,nail gun,39.0,M,Hispanic,Evans,CO,False,attack,Not fleeing,False,Piercing objects
5,11,Kenneth Joe Brown,2015-01-04,shot,gun,18.0,M,White,Guthrie,OK,False,attack,Not fleeing,False,Guns
6,13,Kenneth Arnold Buck,2015-01-05,shot,gun,22.0,M,Hispanic,Chandler,AZ,False,attack,Car,False,Guns
7,15,Brock Nichols,2015-01-06,shot,gun,35.0,M,White,Assaria,KS,False,attack,Not fleeing,False,Guns
8,16,Autumn Steele,2015-01-06,shot,unarmed,34.0,F,White,Burlington,IA,False,other,Not fleeing,True,Unarmed
9,17,Leslie Sapp III,2015-01-06,shot,toy weapon,47.0,M,Black,Knoxville,PA,False,attack,Not fleeing,False,Other unusual objects

In [97]:
type(data)

pandas.core.frame.DataFrame

In [98]:
data["race"].unique()

array(['Asian', 'White', 'Hispanic', 'Black', 'Other', 'Native'],
      dtype=object)

In [99]:
races = pd.get_dummies(data["race"], drop_first=True)

In [100]:
data = pd.concat([data, races], axis=1)

In [101]:
data.drop("race", axis=1, inplace=True)

In [102]:
data.head()

,id,name,date,manner_of_death,armed,age,gender,city,state,signs_of_mental_illness,threat_level,flee,body_camera,arms_category,Black,Hispanic,Native,Other,White
0,3,Tim Elliot,2015-01-02,shot,gun,53.0,M,Shelton,WA,True,attack,Not fleeing,False,Guns,0,0,0,0,0
1,4,Lewis Lee Lembke,2015-01-02,shot,gun,47.0,M,Aloha,OR,False,attack,Not fleeing,False,Guns,0,0,0,0,1
2,5,John Paul Quintero,2015-01-03,shot and Tasered,unarmed,23.0,M,Wichita,KS,False,other,Not fleeing,False,Unarmed,0,1,0,0,0
3,8,Matthew Hoffman,2015-01-04,shot,toy weapon,32.0,M,San Francisco,CA,True,attack,Not fleeing,False,Other unusual objects,0,0,0,0,1
4,9,Michael Rodriguez,2015-01-04,shot,nail gun,39.0,M,Evans,CO,False,attack,Not fleeing,False,Piercing objects,0,1,0,0,0

In [103]:
obj = data.groupby("city")

In [104]:
data["manner_of_death"].nunique()

2

In [105]:
len(data["manner_of_death"])

4895

In [106]:
x = data["manner_of_death"]
sht = np.zeros(len(x))
c=0
for i in x:
    if i == "shot":
        sht[c] = 1
    else:
        sht[c] = 0
    c = c+1
s =  {"shot": sht}
shot = pd.DataFrame(s)

In [107]:
data.drop("manner_of_death", axis=1, inplace=True)

In [108]:
data = pd.concat([data, shot], axis=1)

In [109]:
data.head()

,id,name,date,armed,age,gender,city,state,signs_of_mental_illness,threat_level,flee,body_camera,arms_category,Black,Hispanic,Native,Other,White,shot
0,3,Tim Elliot,2015-01-02,gun,53.0,M,Shelton,WA,True,attack,Not fleeing,False,Guns,0,0,0,0,0,1.0
1,4,Lewis Lee Lembke,2015-01-02,gun,47.0,M,Aloha,OR,False,attack,Not fleeing,False,Guns,0,0,0,0,1,1.0
2,5,John Paul Quintero,2015-01-03,unarmed,23.0,M,Wichita,KS,False,other,Not fleeing,False,Unarmed,0,1,0,0,0,0.0
3,8,Matthew Hoffman,2015-01-04,toy weapon,32.0,M,San Francisco,CA,True,attack,Not fleeing,False,Other unusual objects,0,0,0,0,1,1.0
4,9,Michael Rodriguez,2015-01-04,nail gun,39.0,M,Evans,CO,False,attack,Not fleeing,False,Piercing objects,0,1,0,0,0,1.0

In [112]:
dat_o.groupby("race").mean()

                   id        age  signs_of_mental_illness  body_camera
race
Asian     3162.225806  36.561676                 0.258065     0.172043
Black     2944.973035  32.549946                 0.141757     0.157165
Hispanic  2909.364745  33.683847                 0.174058     0.117517
Native    2922.756410  31.732281                 0.179487     0.153846
Other     2566.437500  33.064957                 0.229167     0.125000
White     2873.159935  39.909488                 0.287964     0.094507